Image-Compression/Models/Original_99.27 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=0_91.24 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=10_94.89 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=20_97.08 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=30_98.54 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=40_95.62 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=50_97.08 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=60_97.08 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=70_97.81 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=80_99.27 filter=lfs diff=lfs merge=lfs -text
Image-Compression/Models/Q=90_97.08 filter=lfs diff=lfs merge=lfs -text
.zip filter=lfs diff=lfs merge=lfs -text
.jpg filter=lfs diff=lfs merge=lfs -text
.png filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
